/vendor
/node_modules

.env
.env.*

/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs

/public/storage
/public/hot

.phpunit.result.cache
.phpunit.cache

.DS_Store
Thumbs.db

.idea
.vscode